* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

.main-content {
  width: 1200px;
  margin: 6em auto;
}

.character {
  transition: all 0.3s;
}

.word.completed {
  color: green;
}

.playerInput {
  font-weight: 500;
  font-family: "Lato", sans-serif;
  border: 1px solid #c7d5dd;
  background: #fafafa;
  margin-top: 0.5em;
  text-align: justify;
  color: #999999;
  font-size: 20px;
  width: 100%;
  padding: 5px;
}

.something {
  position: relative;
  min-height: 100px;
  margin: 30px 0;
}

.phrase {
  font-size: 20px;
  font-family: "Roboto Mono", sans-serif;
  word-break: break-all;
  min-height: 100px;

  position: absolute;
  /* display: flex; */
}

.playerPhrase {
  font-size: 20px;
  font-family: "Roboto Mono", sans-serif;
  position: absolute;
  min-height: 100px;
  display: flex;
}

.character.correct {
  color: green;
}

.character.incorrect {
  color: red;
  background-color: red;
}

.completedWords {
  /* font-size: 20px;
  font-family: "Roboto Mono", sans-serif;
  position: absolute;
  min-height: 100px;
  */
  margin-right: 12.02px;
}

.word.completed {
  /* margin-right: 12.02px; */
}
